<h2>
    <div class="row">
        <div class="col-md-4">
            <a href="#">Previous Boxes</a>
        </div>
        <div class="col-md-4">
            <a href="{{ path('administration_current_box') }}">Current Box</a>
        </div>
        <div class="col-md-4">
            <a href="#">Others</a>
        </div>
    </div>
</h2>




